.dropdown-button {
    background-color: rgb(111, 111, 179);
    color: white;
    padding: 13px;
    border: none;
    font-size: 16px;
    border-radius: 1em;
    margin: 10px;
    cursor: pointer;

    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.dropdown-menu {
    
    position: absolute;
    background-color: lightskyblue;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0rem;
    border-radius: 30px;

    display: none;

    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: fadeIn;
    animation-duration: 0.3s;

}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-menu a:hover {
    background-color: #ddd;
    border-radius:30px !important;
}


.dropdown:hover .dropdown-menu {
    display: block;

}
